<style>
    /* top image */
    #float_image_fe2ab624cb594613abfab3ecf4ccfcb1 {
        position:absolute;
        top:20px;
        right:20px;
    }
    /* bottom image */
    #float_image_3f49a9dbe7114a919fc5757fb52ba478 {
        position:absolute;
        bottom:20px;
        right:20px;
    }
    /* top & bottom responsive image */
    @media screen and (max-width: 900px){
        #float_image_fe2ab624cb594613abfab3ecf4ccfcb1 {
            height: 57px;
            width: 160px;
        }
        #float_image_3f49a9dbe7114a919fc5757fb52ba478 {
            height: 43px;
            width: 149px;
        }
    }
</style>